/*1024-1229*/
@media screen and (max-width: 1229px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-banner-slide {
        background-size: contain;
        height: 479px;
    }

    .banner__tittle {
        font-size: 50px;
    }

    .second .banner__text {
        padding-top: 70px;
        padding-left: 350px;
    }

    .second .banner__description {
        max-width: 425px;
        margin-left: 110px;
    }

    .third .banner__text {
        padding-top: 120px;
        width: 580px;
    }

    .category__items {
        justify-content: space-evenly;
    }

    .category__item {
        max-height: 250px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .category__item-image img {
        max-width: 250px;
        max-height: 250px;
    }

    .category__item-name {
        font-size: 30px;
    }

    .packing__tittle {
        font-size: 54px;
        margin-bottom: 15px;
    }

    .packing__description {
        font-size: 19px;
        max-width: 300px;
        margin-bottom: 7px;
    }

    .button {
        font-size: 20px;
    }

    .main-gift-card__description {
        padding: 42px 0;
    }

    .main-gift-card__image img {
        max-width: 450px;
        max-height: 450px;
    }

    .main-gift-card__description__tittle {
        font-size: 45px;
    }

    .main-gift-card__description__text {
        font-size: 18px;
    }

    .special-order {
        background-size: contain;
        height: 505px;
    }

    .special-order__description__tittle {
        font-size: 40px;
    }

    .special-order__description {
        max-width: 350px;
        padding-top: 80px;
    }

    .special-order__description__text {
        font-size: 16px;
        max-width: 330px;
    }

    .lamp__text {
        height: 250px;
    }

    .lamp__text__tittle {
        font-size: 56px;
    }

    .lamp__text__description {
        font-size: 25px;
    }

    .lamp__slider__action {
        max-width: 450px;
    }

    .plate__slider__action {
        max-width: 450px;
    }

    .slick-slide img {
        max-width: 450px;
        display: block;
    }

    .slick-prev, .slick-next {
        width: 40px;
        height: 80px;
    }

    .lamp__slider__text__tittle {
        font-size: 46px;
    }

    .lamp__slider__text__description {
        max-width: 400px;
        font-size: 18px;
    }

    .feedback {
        height: 580px;
    }


    .feedback__text__tittle {
        font-size: 60px;
    }

    .feedback__text p {
        font-size: 27px;
    }

    .feedback__slider {
        margin-top: 30px;
        max-width: 650px;
        max-height: 400px;
    }

    .feedback .slick-slide img {
        max-width: 650px;
        max-height: 400px;
    }

    .feedback .slick-prev {
        left: -50px;
    }

    .feedback .slick-next {
        right: -50px;
    }

    .footer {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 80px;
    }

    .footer__navigation {
        margin-right: 55px;
    }

    .footer__navigation__title {
        font-size: 25px;
    }

    .scroll-up {
        right: 45px;
        bottom: 95px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {
    .main-banner-slide {
        height: 458px;
    }

    .banner__tittle {
        line-height: 40px;
    }

    .first .banner__text {
        max-width: 337px;
    }
    .second .banner__text {
        padding-top: 90px;
        padding-left: 210px;
        margin-left: 85px;
    }
    .third .banner__text {
        max-width: 520px;
    }

    .banner__description {
        font-size: 18px;
    }

    .packing {
        background-size: contain;
        height: 367px;
    }

    .packing__tittle {
        margin-bottom: 0;
    }

    .packing__description {
        margin-bottom: 11px;
    }

    .packing__text {
        padding-left: 500px;
        padding-top: 45px;
    }

    .special-order {
        height: 482px;
    }

    .plate__slider__action {
        margin-left: 37px;
    }

    .feedback__text__tittle {
        font-size: 45px;
    }

    .feedback__text p {
        font-size: 22px;
    }

    .feedback__slider {
        margin: 47px auto 0 auto;
    }

    .footer {
        padding-left: 50px;
    }

    .footer__navigation__list {
        margin-top: 7px;
    }

    .footer__navigation__list__item {
        font-size: 18px;
    }

    .footer__navigation__list__item a img {
        width: 45px;
        height: 45px;
    }

    .scroll-up {
        right: 28px;
        bottom: 108px;
    }
}

/*425-767*/
@media screen and (max-width: 767px) {

    #header-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    #menu {
        order: 3;
        margin-top: 15px;
        flex-basis: 100%;
        justify-content: center;
    }

    #menu a.menu-item {
        margin: 0 5px;
    }

    #cart {
        margin-left: 20px;
    }

    #main-info h1 {
        line-height: 45px;
    }

    #main-advantages {
        max-width: 300px;
        margin: 0 auto;
    }

    #order-container {
        flex-wrap: wrap;
        text-align: center;
    }

    #order-text-tittle {
        line-height: 35px;
    }

    #order-text-message {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #order-form {
        margin: 0 10px;
    }

    #order-image {
        right: calc(50% - 200px);
    }

    #rights {
        margin: 0;
    }

    #footer-container {
        justify-content: space-between;
    }
}

/*375-424*/
@media screen and (max-width: 424px) {
    #menu {
        position: absolute;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 30px;
        background: rgba(0,0,0,0.74);
        top: 0;
        left: 0;
        display: none;
    }

    #burger {
        display: block;
        margin-right: 20px;
    }

    #burger svg {
        width: 36px;
        height: 36px;
        fill: rgb(255, 196, 104);
    }

    #menu.open {
        display: flex;
    }

    #menu a.menu-item {
        margin: 15px 5px;
    }


    #menu svg {
        display: block;
        width: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        left: 20px;
    }


}

/*320-374*/
@media screen and (max-width: 374px) {

    #main-info h1 {
        font-size: 38px;
    }

    #order-form input {
        width: 290px;
    }

    #rights {
        margin-left: 10px;
    }
}

