/*1024-1229*/
@media screen and (max-width: 1229px) {
    .container {
        max-width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-banner-slide {
        background-size: contain;
        height: 479px;
    }

    .banner__tittle {
        font-size: 50px;
    }

    .first .banner__text {
        padding-left: 67px;
    }

    .second .banner__text {
        padding-top: 45px;
        padding-left: 350px;
    }

    .second .banner__description {
        max-width: 425px;
        margin-left: 110px;
    }

    .third .banner__text {
        padding-top: 95px;
        width: 580px;
    }

    .category__items {
        justify-content: space-evenly;
    }

    .category__item {
        max-height: 250px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .category__item-image img {
        max-width: 250px;
        max-height: 250px;
    }

    .category__item-name {
        font-size: 30px;
    }

    .packing__text {
        padding-left: 500px;
        padding-top: 60px;
    }

    .packing__tittle {
        font-size: 54px;
        margin-bottom: 10px;
    }

    .packing__description {
        font-size: 17px;
        max-width: 370px;
        margin-bottom: 17px;
    }

    .button {
        font-size: 20px;
    }

    .main-gift-card__description {
        padding: 42px 0;
    }

    .main-gift-card__image img {
        max-width: 450px;
        max-height: 450px;
    }

    .main-gift-card__description__tittle {
        font-size: 45px;
    }

    .main-gift-card__description__text {
        font-size: 18px;
    }

    .special-order {
        background-size: cover;
        height: 505px;
    }

    .special-order__description__tittle {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .special-order__description {
        max-width: 380px;
        padding-top: 80px;
    }

    .special-order__description__text {
        font-size: 18px;
        max-width: 400px;
        margin-bottom: 10px;
    }

    .lamp__text {
        height: 250px;
    }

    .lamp__text__tittle {
        font-size: 56px;
    }

    .lamp__text__description {
        font-size: 25px;
    }

    .lamp__slider__action {
        max-width: 450px;
    }

    .plate__slider__action {
        max-width: 450px;
    }

    .slick-prev, .slick-next {
        width: 40px;
        height: 80px;
    }

    .lamp__slider__text__tittle {
        font-size: 46px;
    }

    .lamp__slider__text__description {
        max-width: 400px;
        font-size: 18px;
    }

    .questions {
        margin-top: 30px;
    }

    .feedback {
        height: 580px;
    }


    .feedback__text__tittle {
        font-size: 60px;
    }

    .feedback__text p {
        font-size: 27px;
    }

    .feedback__slider {
        margin-top: 30px;
        max-width: 650px;
        max-height: 400px;
    }

    .feedback .slick-slide img {
        max-width: 650px;
        max-height: 400px;
    }

    .feedback .slick-prev {
        left: -50px;
    }

    .feedback .slick-next {
        right: -50px;
    }

    .footer {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 80px;
    }

    .footer__navigation {
        margin-right: 55px;
    }

    .footer__navigation__title {
        font-size: 25px;
    }

    .scroll-up {
        right: 33px;
        bottom: 95px;
    }

    .hairpins__slider {
        height: 500px;
    }

    /*shop*/
    .shop__banner {
        background-size: cover;
        height: 350px;
    }

    .shop__items {
        padding: 0;
        justify-content: space-evenly;
    }

    .shop__item {
        width: 300px;
        height: 365px;
        margin: 12px;
    }

    .shop__item__image {
        max-width: 300px;
    }

    .shop__item__description {
        font-size: 28px;
    }

    .other-product {
        width: 225px;
        height: 285px;
    }

    .other-product img {
        width: 225px;

    }

    .other-product .shop__item__description {
        font-size: 21px;
    }

    .care__banner {
        background-size: cover;
        height: 250px;
    }

    .contact-list, .open-hours {
        max-width: 1024px;
        margin: 30px 20px;
    }

    .contact-list {
        padding-left: 40px;
    }

    /*about*/
    .mnie__banner {
        background-size: cover;
        height: 250px;
    }

    .mnie__info {
        height: 580px;
    }

    .mnie__info__image img {
        max-width: 400px;
    }

    .mnie__info__text__tittle {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 55px;
    }

    .mnie__info__text__description {
        width: 406px;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .instagram {
        margin: 20px 0;
    }

    .instagram__tittle {
        font-size: 50px;
    }

    .instagram__link {
        font-size: 22px;
    }

    .instagram__items {
        padding: 0;
    }

    .instagram__item img {
        max-width: 200px;
        max-height: 200px;
    }

    /*gift-card*/
    .gift-card-title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .gift-card-list__item {
        font-size: 19px;
    }

    .gift-card-images__item img {
        max-width: 400px;
    }

    .gift-card-images__item__text {
        margin: 15px 0;
        font-size: 25px;
    }

    .gift-card-description p, .gift-card-use p {
        font-size: 30px;
    }

    .gift-card-description__list__item, .gift-card-use__list__item {
        font-size: 19px;
    }

    .questions__tittle {
        font-size: 35px;
    }

    /*night-lamp*/
    .lamp__banner {
        background-size: cover;
        margin-bottom: 20px;
        height: 380px;
    }

    .lamp__tittle {
        font-size: 50px;
    }

    .lamp__item {
        max-width: 400px;
        max-height: 500px;
    }

    .lamp__item__image {
        max-width: 400px;
    }

    .lamp__item__text {
        font-size: 35px;
    }

    /*big/small-lamps*/
    .big-lamp__slider__image.slick-slide img {
        max-width: 416px;
    }

    .big-lamp__slider__nav__image.slick-slide img {
        max-width: 100px;
        max-height: 100px;
    }

    .big-lamp__slider > div.slick-list.draggable, .big-lamp__slider__nav > div.slick-list.draggable {
        max-width: 419px;
    }

    .big-lamp__article__title {
        font-size: 35px;
    }

    .big-lamp__article__price {
        font-size: 25px;
        margin-bottom: 6px;
    }

    .big-lamp__article__text {
        margin-bottom: 8px;
        max-width: 500px;
        font-size: 19px;
    }

    .big-lamp__article__description__title {
        font-size: 35px;
    }

    .big-lamp__article__description__text {
        font-size: 19px;
        max-width: 500px;
    }

    .individual-order__title {
        font-size: 50px;
    }

    .individual-order__text {
        font-size: 19px;
    }

    .individual-order__link {
        font-size: 25px;
    }

    /*packing*/
    .packing {
        background-size: cover;
        height: 384px;
    }

    .packing__info {
        margin: 20px 0 0;
    }

    .packing__info__text__tittle {
        font-size: 60px;
    }

    .packing__info__text__description {
        width: 400px;
        font-size: 17px;
    }

    /*catalog*/
    .bracelets-banner, .necklaces-banner {
        margin-bottom: 15px;
    }

    .necklaces-banner {
        height: 350px;
        background-size: cover;
    }

    .brooches-banner, .bracelets-banner {
        background-size: cover;
        height: 400px;
    }

    .earrings-banner {
        height: 390px;
        background-size: cover;
    }

    .pendants-banner {
        background-size: cover;
        height: 380px;
        margin-bottom: 15px;
    }

    .catalog-items {
        padding: 0;
    }

    .catalog-item {
        max-width: 226px;
        margin: 15px 10px 0;
    }

    .catalog-item__image {
        max-width: 226px;
    }

    .catalog-item__description {
        font-size: 16px;
    }

    .catalog-item__price {
        font-size: 17px;
    }

    .catalog-item-card {
        justify-content: center;
    }

    .catalog-item-card__article {
        margin-left: 30px;
    }

    .catalog-item-card__article__title {
        font-size: 30px;
        margin-bottom: 7px;
    }

    .catalog-item-card__article__price {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .catalog-item-card__article__text {
        max-width: 450px;
        font-size: 19px;
        margin-bottom: 0;
    }

    .button.catalog-item-card__button {
        margin-top: 10px;
    }

    .catalog-item-card__article__description__title {
        font-size: 35px;
    }

    .catalog-item-card__article__description__text {
        font-size: 19px;
        max-width: 900px;
    }

    .catalog-item-card__action__slider {
        margin-right: 0;
    }


    .catalog-item-card__action__slider__image img {
        max-width: 416px;
    }

    .catalog-item-card__action__slider__nav > div.slick-list.draggable {
        width: 416px;
    }


    .catalog-item-card__action {
        max-width: 416px;
    }


    /*special order*/
    .spec-order-banner {
        background-size: cover;
        height: 390px;
    }

    .spec-order {
        height: 690px;
    }

    .spec-order-content__title {
        font-size: 48px;
        margin-top: 10px;
    }

    .spec-order-content-list__item {
        font-size: 16px;
    }

    .spec-order-content-list {
        max-width: 450px;
        margin: 0 auto;
    }

    .spec-order-content .individual-order__link {
        font-size: 19px;
    }

    .spec-order-slider {
        width: 450px;
        height: 450px;
        margin-right: 20px;
    }

    .spec-order-content-list {
        max-width: 325px;
    }

    .spec-order-content .individual-order__link {
        font-size: 14px;
    }

    .spec-order-content-list__item {
        font-size: 14px;
    }

    .spec-order-slider > div.slick-list.draggable {
        width: 450px;
        height: 450px;
    }

    .spec-order-slider__image img {
        width: 450px;
        height: 450px;
    }

    .lamp__slider__action {
        margin-left: 10px;
    }

    /*packing*/
    .packing__banner {
        background-size: cover;
        height: 215px;
    }

    .packing__info {
        height: 565px;
    }

    .packing__info__text__tittle {
        font-size: 50px;
    }

    .packing__info__text__description {
        width: 350px;
        font-size: 16px;
    }

    .packing__info__image {
        max-width: 350px;
    }

    .packing__info__image img {
        max-width: 100%;
    }

    /*conditions*/
    .conditions .main-list {
        font-size: 20px;
    }

    .letters-list, .numbers-list, .points-list {
        font-size: 18px;
    }
}


/*768-1023*/
@media screen and (max-width: 1023px) {
    .line {
        height: 33px;
    }

    .navigation__logo img {
        max-width: 200px;
        height: 139px;
    }

    .navigation__link {
        font-size: 22px;
    }

    .slick-slider .slick-track, .slick-slider .slick-list {
        max-height: 353px;
    }

    .banner__tittle {
        line-height: 40px;
        font-size: 45px;
    }

    .first .banner__text {
        padding-left: 88px;
        max-width: 245px;
        padding-top: 85px;
    }

    .second .banner__text {
        padding-top: 50px;
        padding-left: 145px;
    }

    .second .banner__description {
        margin: 0 auto;
    }

    .third .banner__text {
        max-width: 465px;
        padding-top: 75px;
        padding-left: 70px;
    }

    .banner__description {
        font-size: 16px;
    }

    .category {
        margin-top: 20px;
    }

    .category__tittle {
        font-size: 50px;
    }

    .category__item {
        padding-bottom: 5px;
    }

    .category__item-image img {
        max-width: 200px;
    }

    .category__item-name {
        font-size: 22px;
    }

    .packing {
        background-size: contain;
        height: 284px;
    }

    .packing__text {
        padding-left: 400px;
        padding-top: 20px;
        max-width: 305px;
    }


    .packing__tittle {
        margin-bottom: 0;
        font-size: 45px;
    }

    .packing__description {
        margin-bottom: 11px;
        font-size: 16px;
    }

    .button {
        font-size: 18px;
        width: 150px;
    }

    .main-gift-card {
        margin-top: 20px;
    }

    .main-gift-card__description {
        width: 300px;
    }

    .main-gift-card__description__tittle {
        margin-bottom: 0;
    }

    .main-gift-card__description__text,
    .main-gift-card__description__price {
        font-size: 16px;
        max-width: 250px;
    }

    .main-gift-card__image img {
        max-width: 370px;
    }

    .special-order {
        height: 374px;
        margin-top: 20px;
    }

    .special-order__description {
        padding-top: 20px;
        padding-right: 0;
    }

    .special-order__description__tittle {
        margin-bottom: 0;
        font-size: 40px;
    }

    .special-order__description__text {
        max-width: 275px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .lamp__text {
        margin-top: 20px;
    }

    .lamp__text__tittle {
        font-size: 45px;
    }

    .lamp__text__description {
        font-size: 20px;
        max-width: 600px;
    }

    .lamp__slider, .plate__slider {
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .lamp__slider__action, .plate__slider__action {
        max-width: 334px;
        max-height: 334px;
    }

    .lamp__slider__action__image, .plate__slider__action__image {
        width: 334px;
    }

    .lamp__slider__action {
        margin-left: 15px;
    }

    .lamp__slider__text__tittle {
        font-size: 40px;
        line-height: 30px;
    }

    .lamp__slider__text__description {
        font-size: 16px;
        max-width: 350px;
        margin-bottom: 5px;
    }

    .lamp__slider__text button {
        margin-top: 5px;
    }

    .plate__slider__action {
        margin-left: 15px;
    }

    .lamp__item__image {
        max-width: 300px;
    }

    .feedback {
        height: 430px;
        margin-top: 20px;
    }

    .feedback__text__tittle {
        font-size: 40px;
        line-height: 30px;
    }

    .feedback__text p {
        font-size: 18px;
    }

    .feedback__slider {
        margin: 42px auto 0 auto;
        max-width: 485px;
    }

    .feedback .slick-slide img {
        max-width: 485px;
    }


    .questions__text p {
        font-size: 18px;
    }

    .questions {
        margin-top: 20px;
        height: 450px;
    }

    .questions__form {
        margin-top: 15px;
    }

    .name, .questions__form__text, .e-mail, .theme {
        width: 650px;
    }

    label {
        max-width: 630px;
    }

    .form-button {
        width: 200px;
    }

    .footer {
        padding-left: 30px;
        height: 150px;
        margin-top: 70px;
    }

    .footer::before {
        top: -55px;
    }

    .footer__navigation {
        margin-right: 35px;
    }

    .footer__navigation__title {
        font-size: 22px;
    }

    .footer__navigation__title::after {
        width: 55px;
        margin: 0 0 8px 9px;
    }

    .footer__navigation__list {
        margin-top: 7px;
    }

    .footer__navigation__list__item {
        font-size: 17px;
    }

    .footer__navigation__list__item a img {
        width: 35px;
        height: 35px;
    }

    .scroll-up {
        width: 35px;
        height: 35px;
        right: 25px;
        bottom: 85px;
    }

    .shop__banner {
        height: 260px;
    }

    .shop__list {
        margin-top: 20px;
    }

    .shop__title {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .shop__tittle-description {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .shop__item {
        width: 200px;
        height: 260px;
    }

    .shop__item__description {
        font-size: 23px;
    }

    .shop__item__image {
        max-width: 200px;
    }

    .other-product, .other-product img {
        max-width: 158px;
    }

    .other-product {
        height: 210px;
    }

    .other-product .shop__item__description {
        font-size: 16px;
    }

    .necklaces-banner, .earrings-banner {
        background-size: contain;
        height: 249px;
        margin-bottom: 20px;
    }

    /*about*/
    .mnie__banner, .care__banner {
        height: 177px;
        margin-bottom: 20px;
    }

    .mnie__info {
        height: 465px;
        margin-top: 20px;
    }

    .mnie__info__image img {
        max-width: 300px;
    }

    .mnie__info__text__tittle {
        font-size: 45px;
        margin-top: 10px;
    }

    .mnie__info__text__description {
        font-size: 15px;
        width: 360px;
        margin-bottom: 6px;
    }

    .mnie__info__text .button {
        margin-top: 10px;
        width: 220px;
    }

    .instagram__item {
        margin: 10px;
    }

    .instagram__item img {
        max-width: 162px;
    }

    .care-title {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .care-subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .care-list {
        font-size: 18px;
        margin-bottom: 90px;
    }

    /*payment*/
    .payment-title {
        font-size: 45px;
        margin-top: 20px;
    }

    .payment h4 {
        font-size: 20px;
    }

    .payment h5 {
        font-size: 25px;
        margin: 15px 0;
    }

    /*contact*/
    .questions__tittle {
        font-size: 30px;
    }

    .contact-list__title, .open-hours-title {
        font-size: 20px;
    }

    .contact-list__items, .open-hours-text {
        font-size: 19px;
    }

    .contact-list, .open-hours {
        margin: 20px;
    }

    /*catalog*/
    .earrings-banner {
        background-size: cover;
        height: 290px;
    }

    .back-arrow img {
        width: 75px;
        height: 75px;
    }

    .catalog-items-title {
        font-size: 45px;
        line-height: 40px;
    }

    .catalog-items {
        margin-top: 15px;
    }

    .catalog-item {
        margin: 15px 12px 0;
        max-width: 158px;
    }

    .catalog-item__image {
        max-width: 158px;
    }

    .catalog-item__description {
        font-size: 14px;
    }

    .catalog-item__price {
        font-size: 15px;
    }

    .catalog-item-card__article__title {
        font-size: 22px;
    }

    .catalog-item-card__article__price {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .catalog-item-card__article__text {
        font-size: 15.5px;
        line-height: unset;
        margin-bottom: 5px;
        width: 300px;
    }

    .catalog-item-card__article__description__title {
        font-size: 22px;
    }

    .catalog-item-card__article__description__text {
        font-size: 15.5px;
        line-height: 25px;
        max-width: 600px;
    }

    .catalog-item-card__button {
        margin-top: 10px;
    }

    .catalog-item-card__action__slider > div.slick-list.draggable, .catalog-item-card__action__slider__nav > div.slick-list.draggable {
        max-width: 334px;
    }

    .catalog-item-card__action__slider__nav__image.slick-slide img {
        width: 110px;
        height: 110px;
    }

    .catalog-item-card__action__slider__image img {
        width: 334px;
        height: 353px;
    }

    .rings-banner, .pendants-banner {
        background-size: cover;
        height: 256px;
    }

    .brooches-banner, .bracelets-banner {
        height: 300px;
    }

    .catalog-item-card {
        margin-top: 0;
    }

    /*spec-order*/
    .spec-order-banner {
        height: 290px;
    }

    .spec-order-slider {
        width: 350px;
        height: 350px;
        margin-right: 0;
    }

    .spec-order-slider > div.slick-list.draggable {
        width: 350px;
        height: 350px;
    }

    .spec-order-slider__image img {
        width: 350px;
        height: 350px;
    }

    .spec-order-content__title {
        font-size: 40px;
    }

    /*big/small lamps*/
    .lamp__banner {
        height: 285px;
    }

    .big-lamp {
        margin: 0 0 20px;
    }

    .big-lamp__slider {
        margin-right: 20px;
        margin-top: 9px;
    }

    .big-lamp__slider > div.slick-list.draggable, .big-lamp__slider__nav > div.slick-list.draggable {
        max-width: 334px;
    }

    .big-lamp__slider__image.slick-slide img {
        max-width: 334px;
    }

    .big-lamp__slider__nav__image.slick-slide img {
        width: 80px;
        height: 80px;
    }

    .big-lamp__article__title {
        font-size: 30px;
        margin-bottom: 3px;
    }

    .big-lamp__article__price {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .big-lamp__article__text {
        font-size: 16px;
        max-width: 370px;
        margin-bottom: 3px;
    }

    .big-lamp__article__description__title {
        font-size: 30px;
        margin-bottom: 3px;
    }

    .big-lamp__article__description__text {
        font-size: 16px;
        max-width: 370px;
        margin-bottom: 6px;
    }

    .individual-order__title {
        font-size: 40px;
    }

    .individual-order__text {
        font-size: 17px;
    }

    .individual-order__link {
        font-size: 20px;
    }

    /*gift-card*/
    .gift-card-images__item {
        max-width: 350px;
    }

    .gift-card-images__item img {
        max-width: 350px;
    }

    .gift-card-images__item__text {
        font-size: 20px;
        margin: 10px 0;
    }

}

/*425-767*/
@media screen and (max-width: 767px) {
    .navigation__logo img {
        height: 75px;
    }

    .line {
        height: 19px;
        margin-top: -19px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        right: 0;
    }

    .header__burger::after,
    .header__burger::before {
        content: '';
        position: absolute;
        width: 100%;
        background-color: var(--color-text);
        height: 2px;
        left: 0;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        width: 100%;
        background-color: var(--color-text);
        height: 2px;
        left: 0;
        top: 9px;
    }

    .navigation__list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: none;
        margin-left: 20px;
        margin-top: 100px;
    }

    .navigation__item {
        margin-bottom: 7px;
    }

    .slick-prev, .slick-next {
        max-width: 20px;
    }

    .main-banner-slider > div.slick-list.draggable {
        max-height: 188px;
    }

    .first .banner__text {
        max-width: 160px;
        padding-left: 30px;
        padding-top: 50px;
    }

    .banner__tittle {
        line-height: 25px;
        font-size: 26px;
        margin-bottom: 2px;
    }

    .banner__description {
        font-size: 10px;
    }

    .second .banner__text {
        padding-top: 20px;
        padding-left: 125px;
        max-width: 235px;
    }

    .third .banner__text {
        max-width: 240px;
        padding-top: 20px;
        padding-left: 45px;
    }

    .category {
        margin-top: 10px;
    }

    .category__tittle {
        font-size: 30px;
    }

    .category__items {
        margin-top: 5px;
    }

    .category__item-image img {
        max-width: 110px;
    }

    .category__item {
        max-width: 110px;
        margin-bottom: 10px;
        padding-bottom: 3px;
        padding-top: 13px;
    }

    .category__item-name {
        font-size: 14px;
    }

    .button {
        font-size: 12px;
        padding: 2px;
        width: 80px;
    }

    .packing {
        background-size: cover;
        height: 150px;
    }

    .packing__text {
        padding-left: 205px;
        padding-top: 10px;
    }

    .packing__tittle {
        margin-bottom: 3px;
        font-size: 30px;
        line-height: 30px;
    }

    .packing__description {
        font-size: 10px;
        margin-bottom: 7px;
    }

    .main-gift-card {
        margin-top: 10px;
    }

    .main-gift-card__image {
        display: none;
    }

    .main-gift-card__description__tittle {
        font-size: 30px;
    }

    .main-gift-card__description__text, .main-gift-card__description__price {
        font-size: 11px;
        margin-bottom: 5px;
    }

    .main-gift-card__description {
        padding: 10px 0;
        border-width: 8px;
        width: 370px;
    }

    .main-gift-card__image img {
        max-width: 300px;
    }

    .special-order {
        margin-top: 10px;
        height: 196px;
    }

    .special-order__description {
        padding-top: 0;
        padding-left: 175px;
    }

    .special-order__description__tittle {
        font-size: 25px;
    }

    .special-order__description__text {
        max-width: 165px;
        margin-bottom: 3px;
        font-size: 9px;
    }

    .special-order__action {
        margin-top: 5px;
    }

    .lamp__text {
        height: 94px;
    }

    .lamp__text__tittle {
        font-size: 25px;
        padding-top: 0;
    }

    .lamp__text__description {
        padding-top: 0;
        font-size: 14px;
        max-width: 350px;
    }

    .lamp__slider, .plate__slider {
        margin-top: 0;
        grid-auto-flow: column;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 630px;
    }

    .plate__slider > .lamp__slider__text {
        order: -1;
    }

    .lamp__slider__text__tittle {
        font-size: 32px;
    }

    .lamp__slider__text__description {
        font-size: 14px;
    }

    .lamp__slider__action, .plate__slider__action {
        justify-self: center;
        margin-left: 0;
    }

    .feedback {
        height: 250px;
    }

    .feedback__text {
        padding-top: 9px;
    }

    .feedback__text__tittle {
        font-size: 30px;
    }

    .feedback__text p {
        font-size: 12px;
    }

    .feedback__slider {
        margin: 10px auto 0 auto;
        max-width: 280px;
    }

    .feedback .slick-slide img {
        max-width: 280px;
    }

    .questions {
        height: 305px;
    }

    .name, .questions__form__text, .e-mail, .theme {
        width: 350px;
        padding: 10px 3px 3px;
    }

    .name, .questions__form__text, .e-mail, .theme::placeholder {
        font-size: 10px;
    }

    .questions__text {
        padding-top: 5px;
    }

    .questions__text p {
        font-size: 13px;
        max-width: 350px;
    }

    .questions__tittle {
        font-size: 20px;
    }

    .questions__tittle {
        margin-top: 5px;
    }

    label {
        max-width: 300px;
        font-size: 8px;
    }

    label:before {
        height: 15px;
        width: 15px;
    }

    label:after {
        left: 4.5px;
        top: 11px;
        width: 4px;
        height: 8px
    }

    .form-button {
        width: 125px;
    }

    .footer {
        padding-left: 13px;
        padding-top: 10px;
        height: 110px;
        margin-top: 30px;
    }

    .footer::before {
        background-size: cover;
        height: 22px;
        top: -22px;
    }

    .footer__navigation {
        margin-right: 10px;
    }

    .footer__navigation__title {
        font-size: 13px;
    }

    .footer__navigation__title::after {
        width: 40px;
        margin: 0 0 4px 0;
        border-bottom: 0.5px solid var(--color-primary);
    }

    .footer__navigation__list__item {
        padding-top: 3px;
        max-width: 122px;
        font-size: 11px;
    }

    .footer__navigation__list__item a img {
        width: 20px;
        height: 20px;
    }

    .footer__navigation__list.footer__links {
        justify-content: space-between;
        margin-left: 0;
        width: 75px;
    }

    .scroll-up {
        width: 20px;
        height: 20px;
        right: 13px;
        bottom: 67px;
    }

    @keyframes scroll-up {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 9px);
        }
    }

    /*about*/

    .mnie__banner, .care__banner {
        margin-top: 20px;
        height: 94px;
    }

    .mnie__info {
        flex-direction: column;
        justify-content: center;
        height: 570px;
    }

    .mnie__info__image img {
        max-width: 230px;
    }

    .mnie__info__text {
        margin-top: 10px;
    }

    .mnie__info__text__tittle {
        font-size: 25px;
        margin-top: 0;
    }

    .mnie__info__text__description {
        font-size: 10px;
        max-width: 325px;
        margin-bottom: 3px;
    }

    .mnie__info__text .button {
        margin-top: 7px;
        width: 140px;
        font-size: 10px;
    }

    .instagram__tittle {
        font-size: 25px;
    }

    .instagram__link {
        font-size: 14px;
    }

    .instagram__item img {
        max-width: 75px;
    }

    .instagram__item .inst__button {
        height: 46px;
        width: 38px;
    }


}

/*375-424*/
@media screen and (max-width: 424px) {

}

/*320-374*/
@media screen and (max-width: 374px) {

}

