.brooches-banner {
    background-image: url("../images/banners/brooches-banner.png");
    height: 505px;
    margin-bottom: 20px;
}

#broszka\.wasilek,
#broszka\.bir\.komp,
#broszka\.oduwan\.temn,
#broszka\.skeket\.komp,
#broszka\.nezab\.ozotam\.komp {
    display: none;
}

.footer {
    margin-top: 125px;
}