.pendants-banner {
    background-image: url("../images/pendants-banner.png");
    height: 485px;
    margin-bottom: 30px;
}

.pendants-title {
    font-family: Ephesis, sans-serif;
    font-size: 55px;
    color: var(--color-primary);
    text-align: center;
}

.pendants-items {
    display: flex;
    padding: 0 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.invisible {
    display: none;
}

.pendants-item {
    margin: 15px 8px 0;
}

.pendants-item__image {
    max-width: 290px;
    max-height: 290px;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
    will-change: transform;
    transform-origin: center center;
}

.pendants-item__image:hover {
    transform: scale(1.03);
}

.pendants-item__description {
    font-size: 17px;
    color: var(--color-primary);
}

.pendants-item__price {
    font-size: 19px;
    color: var(--color-text);
}

.back-arrow {
    cursor: pointer;
    grid-area: A;
    animation: back-arrow 0.8s linear alternate infinite;
}

@keyframes back-arrow {
    0% {
        transform: translate(0, 0);
    }
    100%{
        transform: translate(20px, 0);
    }
}

#Wisiorek\.treug\.komp\.sinij,
#Wisiorek\.owal\.komp\.bir,
#Wisiorek\.sfera\.komp\.bir\.2cm,
#Wisiorek\.niezapominajki\.brus,
#Wisiorek\.praleska\.2cm,
#Wisiorek\.plosk\.komp\.skelet,
#Wisiorek\.niezapominajki\.kaplia,
#Wisiorek\.plosk\.osotamnus\.2cm,
#Wisiorek\.sfera\.żem\.2cm,
#Wisiorek\.sfera\.gelihrisum\.2cm,
#Wisiorek\.sfera\.komp\.lutik\.2cm,
#Wisiorek\.sfera\.gelihrisum\.2\.5cm,
#Wisiorek\.sfera\.komp\.gelinesab\.2cm,
#Wisiorek\.sfera\.oduwam\.puh\.2cm,
#Wisiorek\.sfera\.gortenz\.2cm,
#Wisiorek\.sfera\.komp\.serennezn\.2cm,
#Wisiorek\.sfera\.gortenz\.1\.6cm,
#Wisiorek\.sfera\.komp\.serenjark\.1\.6cm,
#Wisiorek\.sfera\.komp\.serenjark\.2cm,
#Wisiorek\.sfera\.komp\.cminsin\.2cm,
#Wisiorek\.sfera\.gipsof\.zel\.2cm,
#Wisiorek\.sfera\.moh\.2cm {
    display: none;
}

.pendants-action {
    grid-area: B;
}

.pendants-action__slider {
    margin-bottom: 4px;
    margin-right: 30px;

}

.pendants-action__slider__image img {
    width: 550px;
}

.pendants-action__slider__nav__image img {
    width: 136px;
    height: 136px;cursor: pointer;
}

.slick-slide img {
    max-width: 550px;
}

div.slick-list.draggable {
    width: 550px;
}

.pendant {
    margin: 60px 0 30px;
    grid-template-areas:
            "A A A A A A A A A A"
            "B B B B B C C C C C"
            "D D D D D D D D D D";
}

.pendants__article {
    grid-area: C;
}

.pendants__article__title {
    color: var(--color-primary);
    font-size: 36px;
    margin-bottom: 10px;
}

.pendants__article__price {
    color: var(--color-text);
    font-size: 30px;
    border-top: 1px solid #CCC2BC;
    max-width: 175px;
    margin-bottom: 15px;
}

.pendants__article__text {
    color: var(--color-text);
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    width: 600px;
}

.button {
    margin: 40px 0 0;
}

.pendants__article__description {
    margin-top: 20px;
    grid-area: D;
}

.pendants__article__description__title {
    color: var(--color-text);
    font-size: 40px;
    margin-bottom: 5px;
}

.pendants__article__description__text {
    color: var(--color-text);
    text-align: justify;
    font-size: 22px;
    line-height: 30px;
}

.footer {
    margin-top: 125px;
}