.pendants-banner {
    background-image: url("../images/pendants-banner.png");
    height: 485px;
    margin-bottom: 30px;
}

.pendants-title {
    font-family: Ephesis, sans-serif;
    font-size: 55px;
    color: var(--color-primary);
    text-align: center;
}

.pendants-items {
    display: flex;
    padding: 0 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.invisible {
    display: none;
}

.pendants-item {
    margin: 15px 8px 0;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}

.pendants-item:hover {
    transform: scale(1.03);
}

.pendants-item__description {
    font-size: 17px;
    color: var(--color-primary);
}

.pendants-item__price {
    font-size: 19px;
    color: var(--color-text);
}

#back-arrow {
    cursor: pointer;
}

#pendant1, #pendant2, #pendant3 {
    display: none;
}

.pendants-action__slider {
    margin-bottom: 4px;
    margin-right: 30px;
}

.pendants-action__slider__image img {
    width: 550px;
}

.pendants-action__slider__nav__image img {
    width: 136px;
    height: 136px;
}

.slick-slide img {
    max-width: 550px;
}

div.slick-list.draggable {
    width: 550px;
}

.pendant {
    margin: 60px 0 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.pendants__article {
    max-width: 550px;
}

.pendants__article__title {
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 10px;
}

.pendants__article__price {
    color: var(--color-text);
    font-size: 30px;
    border-top: 1px solid #CCC2BC;
    max-width: 175px;
    margin-bottom: 15px;
}

.pendants__article__text {
    color: var(--color-text);
    font-size: 22px;
    text-align: justify;
    margin-bottom: 15px;
    width: 600px;
}

.pendants__article__description__title {
    color: var(--color-text);
    font-size: 40px;
    margin-bottom: 5px;
}

.pendants__article__description__text {
    color: var(--color-text);
    text-align: justify;
    font-size: 22px;
    margin-bottom: 20px;
    width: 600px;
}