.pendants-banner {
    background-image: url("../images/pendants-banner.png");
    height: 485px;
    margin-bottom: 30px;
}

#Wisiorek\.treug\.komp\.sinij,
#Wisiorek\.owal\.komp\.bir,
#Wisiorek\.sfera\.komp\.bir\.2cm,
#Wisiorek\.niezapominajki\.brus,
#Wisiorek\.praleska\.2cm,
#Wisiorek\.plosk\.komp\.skelet,
#Wisiorek\.niezapominajki\.kaplia,
#Wisiorek\.plosk\.osotamnus\.2cm,
#Wisiorek\.sfera\.żem\.2cm,
#Wisiorek\.sfera\.gelihrisum\.2cm,
#Wisiorek\.sfera\.komp\.lutik\.2cm,
#Wisiorek\.sfera\.gelihrisum\.2\.5cm,
#Wisiorek\.sfera\.komp\.gelinesab\.2cm,
#Wisiorek\.sfera\.oduwam\.puh\.2cm,
#Wisiorek\.sfera\.gortenz\.2cm,
#Wisiorek\.sfera\.komp\.serennezn,
#Wisiorek\.sfera\.gortenz\.1\.6cm,
#Wisiorek\.sfera\.komp\.serenjark\.1\.6cm,
#Wisiorek\.sfera\.komp\.serenjark\.2cm,
#Wisiorek\.sfera\.komp\.cminsin\.2cm,
#Wisiorek\.sfera\.gipsof\.zel\.2cm,
#Wisiorek\.sfera\.moh\.2cm,
#wisiorek\.niezapominajki\.2cm,
#wisiorek\.niezapominajki\.1\.6cm,
#wisiorek\.niezapominaj\.polusfer,
#wisiorek\.polusfer\.osotamnus,
#wisiorek\.oduvan\.zolot\.brus,
#wisiorek\.oduvan\.zolot\.1\.6cm,
#wisiorek\.oduvan\.2\.5cm,
#wisiorek\.oduvan\.zolot\.polusfer {
    display: none;
}

