.rings-banner {
    background-image: url("../images/banners/rings-banner.png");
    height: 438px;
    margin-bottom: 30px;
}

#piers\.nezab,#piers\.oduwan,#piers\.nezab\.stal,
#piers\.oduwan\.stal,#piers\.oksitoz\.stal,#piers\.gemcz\.stal {
    display: none;
}